---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white">
		<main>
			<section class="max-w-7xl mx-auto px-4 py-12">
				<div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
					{posts.map((post) => (
						<a href={`/${post.slug}/`} class="h-full w-full flex flex-col bg-white overflow-hidden">
							{post.data.heroImage ? (
								<img class="h-52 w-full object-cover rounded-xl" src={post.data.heroImage} alt="" />
							) : (
								<div class="h-52 w-full flex items-center justify-center bg-gray-200 rounded-xl">
									<p class="text-gray-500">No Image</p>
								</div>
							)}
							<div class="py-4 flex flex-col flex-grow">
								<h4 class="text-xl line-clamp-2 font-semibold mb-2">{post.data.title}</h4>
								<p class="text-gray-600 mb-4 text-sm">
									<FormattedDate date={post.data.pubDate} />
								</p>
								<p class="text-gray-700 line-clamp-3">{post.data.description}</p>
							</div>
						</a>
					))}
				</div>
			</section>

			<section class="max-w-7xl mx-auto px-4 py-12">
				<div class="w-full bg-slate-200 px-8 py-10 rounded-xl">
					<h2 class="text-2xl mb-3 font-bold">Discordコミュニティに参加する</h2>
					<p class="text-base mb-6">
						YUTA STUDIOのDiscordサーバーでは、新しい技術に関する話題や、様々な議論を積極的に行っています。お気軽にご参加ください！
					</p>
					<button class="bg-blue-500 text-white py-2 px-4 rounded-full hover:bg-blue-600 transition text-base">サーバーに参加</button>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
