---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import TableOfContents from "../components/TableOfContents.astro";
import { SITE_DESCRIPTION } from "../consts";

type Props = {
	content: CollectionEntry<"blog">["data"];
	headings: { depth: number; slug: string; text: string }[];
};

const { title, description, pubDate, heroImage } = Astro.props.content;
const { headings } = Astro.props;
---

<html lang="ja">
<head>
  <BaseHead title={title} description={description || SITE_DESCRIPTION} />
</head>
<body>
  <main>
    <div class="mx-auto grid grid-cols-[6fr,4fr] gap-4 max-w-7xl py-12 px-4 md:px-8">
      <article>
        <div class="mb-5">
          {heroImage && <img class="rounded-xl" width={1020} height={510} src={heroImage} alt="" />}
        </div>
        <div class="title">
          <h1 class="text-3xl mb-3 font-extrabold">{title}</h1>
          <div class="mb-5">
            <FormattedDate date={pubDate} />
          </div>
        </div>
        <div class="prose">
          <slot />
        </div>
        <div>
          <h3>コントリビューター</h3>
        </div>
      </article>
      <aside class="sticky rounded-xl bg-slate-100 p-5 top-5 self-start">
        <div class="text-xl font-bold mb-3">目次</div>
        <TableOfContents headings={headings} />
      </aside>
    </div>
  </main>
  <Footer />
</body>
</html>
