---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import TableOfContents from "../components/TableOfContents.astro";
import { SITE_DESCRIPTION } from "../consts";

type Props = {
  content: CollectionEntry<"blog">;
  headings: { depth: number; slug: string; text: string }[];
};

const { title, description, pubDate, heroImage } = Astro.props.content.data;
const { headings } = Astro.props;
const { site } = Astro;
---

<html lang="ja">
<head>
  <BaseHead image={heroImage ? `${site?.origin}${heroImage}` : `${site?.origin}/image/${Astro.props.content.slug}.png`} title={title} description={description || SITE_DESCRIPTION} />
</head>
<body>
  <main>
    <div class="mx-auto grid grid-cols-1 md:grid-cols-[6fr,4fr] gap-4 max-w-7xl py-12 px-4 md:px-8">
      <article class="md:col-span-1">
        <div class="mb-5">
          {heroImage && <img class="rounded-xl" width={1020} height={510} src={heroImage} alt="" />}
        </div>
        <div class="title">
          <h1 class="text-3xl mb-3 font-extrabold">{title}</h1>
          <div class="mb-5">
            <FormattedDate date={pubDate} />
          </div>
        </div>
        <div class="block md:hidden rounded-xl bg-slate-100 p-5 mb-5">
          <button id="tocButton" class="text-lg font-semibold">目次を表示</button>
          <div id="toc" class="hidden mt-3">
            <TableOfContents headings={headings} />
          </div>
        </div>
        <div class="prose">
          <slot />
        </div>
        <div>
          <h3>コントリビューター</h3>
        </div>
      </article>
      <aside class="hidden md:block sticky rounded-xl bg-slate-100 p-5 top-5 self-start">
        <div class="text-lg font-semibold mb-3">目次</div>
        <TableOfContents headings={headings} />
      </aside>
    </div>
  </main>
  <Footer />
  <script>
    const tocButton = document.getElementById('tocButton');
    if (tocButton) {
        tocButton.addEventListener('click', function() {
            var toc = document.getElementById('toc');
            if (toc) {
            if (toc.classList.contains('hidden')) {
                toc.classList.remove('hidden');
                toc.classList.add('block');
                this.innerText = '目次を非表示';
            } else {
                toc.classList.remove('block');
                toc.classList.add('hidden');
                this.innerText = '目次を表示';
            }
            }
        });
    }
  </script>
</body>
</html>
